force-app/main/default/flows/Gift_Signup_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>add_url_to_display</name>
        <label>add url to display</label>
        <locationX>1158</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>ESignupDisplayList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>URLtexttemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Existing_Exchanges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_fields_to_signup</name>
        <label>assign fields to signup</label>
        <locationX>180</locationX>
        <locationY>618</locationY>
        <assignmentItems>
            <assignToReference>Signup.Hobbies__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hobbies_and_Interests</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingSignup.Wishlist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WishlistInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Signup.Ship_To_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Signup.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SignupNameFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>actually_create_the_record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>br</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;br&gt;&lt;/br&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>another_exchange</name>
        <label>another exchange</label>
        <locationX>627</locationX>
        <locationY>461</locationY>
        <defaultConnector>
            <targetReference>Your_Gift_Exchanges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Go_to_exchange_dropdown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>another</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Basic_Info</targetReference>
            </connector>
            <label>Check  the box  to s ign  up</label>
        </rules>
    </decisions>
    <decisions>
        <name>EXISTING_SIGNUP_YN</name>
        <label>EXISTING SIGNUP YN</label>
        <locationX>644</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Display_Existing_Exchanges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Existing Signups</defaultConnectorLabel>
        <rules>
            <name>No_Exsiting_Signups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingSignupList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Basic_Info</targetReference>
            </connector>
            <label>No Exsiting Signups</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ActiveExchangeDropdown</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sign Ups Open</stringValue>
            </value>
        </filters>
        <object>Exchange__c</object>
        <outputAssignments>
            <assignToReference>Signup.Exchange__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExchangeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>currentuser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>SignupNameFormula</name>
        <dataType>String</dataType>
        <expression>{!ExchangeName} + &quot; - &quot; + {!$User.FirstName} + &quot; &quot; + {!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Gift Signup Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gift Signup Flow</label>
    <loops>
        <name>Display_Existing_Exchanges</name>
        <label>Display Existing Exchanges</label>
        <locationX>878</locationX>
        <locationY>180</locationY>
        <assignNextValueToReference>Signup</assignNextValueToReference>
        <collectionReference>ExistingSignupList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_url_to_display</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Your_Gift_Exchanges</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>actually_create_the_record</name>
        <label>actually create the signup record</label>
        <locationX>400</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <inputReference>Signup</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GiftExLookup</name>
        <label>GiftExLookup</label>
        <locationX>610</locationX>
        <locationY>184</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EXISTING_SIGNUP_YN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentuser</elementReference>
            </value>
        </filters>
        <object>Gift_Signup__c</object>
        <outputReference>ExistingSignupList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Basic_Info</name>
        <label>Sign Up for an Exchange</label>
        <locationX>393</locationX>
        <locationY>307</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Wishlist</targetReference>
        </connector>
        <fields>
            <name>Exchange</name>
            <choiceReferences>ActiveExchangeDropdown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Exchange</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address</name>
            <fieldText>Ship To Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>398</locationX>
        <locationY>774</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>Thanks for signing up!

{!URLtexttemplate}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wishlist</name>
        <label>Wishlist</label>
        <locationX>295</locationX>
        <locationY>451</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_fields_to_signup</targetReference>
        </connector>
        <fields>
            <name>WishlistHelp</name>
            <fieldText>(Optional) Help out your Secret Santa by giving her/him a little more information about what you&apos;d like to recieve.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Hobbies_and_Interests</name>
            <fieldText>Hobbies and Interests</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>WishlistInput</name>
            <fieldText>Wishlist</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Your_Gift_Exchanges</name>
        <label>Your Gift Exchanges</label>
        <locationX>900</locationX>
        <locationY>456</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>another_exchange</targetReference>
        </connector>
        <fields>
            <name>GiftExchangeintro</name>
            <fieldText>Thanks for participating! 

Your exchange sign ups:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExistingSignups</name>
            <fieldText>{!ESignupDisplayList}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>another</name>
            <dataType>Boolean</dataType>
            <fieldText>I want to sign up for another exchange</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GiftExLookup</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>URLtexttemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;a href=&quot;/{!Signup.Id}&quot;&gt;{!Signup.Name}&lt;/a&gt;{!br}</text>
    </textTemplates>
    <variables>
        <name>ESignupDisplayList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExchangeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingSignup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Gift_Signup__c</objectType>
    </variables>
    <variables>
        <name>ExistingSignupList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Gift_Signup__c</objectType>
    </variables>
    <variables>
        <name>Signup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Gift_Signup__c</objectType>
    </variables>
    <variables>
        <name>SignupNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>SignupNameFormula</elementReference>
        </value>
    </variables>
</Flow>
